*{
    margin: 0px;
}

.navbar{
    height: 50px;
    display: flex;
}

.nav-left{
    width: 80%;
    height: 70px;
    /* background-color: yellow; */
}

.nav-right{
    width: 20%;
    height: 80px;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box{
    margin-right: 20px;
    font-size: 1rem;
}

.logo{
    margin-right: 20px;
    font-size: 1.4rem;
    /* font-weight: 300; */
    /* color: rgba(16, 16, 16, 0.3); */
    color: rgb(92, 88, 88);
}

.user{
    background-color: rgb(189, 27, 114);
    border-radius: 70%;
    font-size: 2rem;
    color: white;
}

/* .border{            
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: transparent;
} */

/* .logo:hover{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(122, 113, 113);
} */


.nav-right a{
    text-decoration: none;
    color: rgb(92, 88, 88);
}

.outer{
    padding-top: 100px;
    height: 80vh;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.search{
    width: 600px;
    height: 50px;
    border: none;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.search-icon{
    /* height: 30px; */
    width: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.serach-bar{
    width: 460px;
    /* height: 50px; */
    font-size: 1rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serach-bar:focus{
    outline: none;
}

.mic{
    /* height: 30px; */
    width: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;      
    
}
.cam{
    /* height: 30px; */
    width: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;            
}
.logo-main{
    padding-bottom: 40px;
}

.suggest{
    margin-top: 30px;
    width: 500px;
    height: 200px;
    border: none;
    display: flex;
    justify-content: flex-start;
    /* padding-right: 50px; */
    /* padding-left: 50px; */
    /* align-items: center; */
    flex-wrap: wrap;
}

.content{
    height: 10px;
    width: 100px;
    font-size: 2rem;
    /* background-color: rgb(44, 234, 234); */
    /* padding: 10px; */
    margin-top: 5px;
}

.content p{
    font-size: 0.7rem;
}